<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>
        You are almost there!
        </h3>
        <p>
            You have requested to reset your password. <br>
            Click the link below if you wish to continue.
             <a href={{token}}>click here</span>
        </p>
    </div>
</body>
</html>