<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>
        You are almost there!
        </h3>
        <p>
            Use this token to verify your account <span style="font-size: 30px; font-weight: 600;">{{token}}</span>
        </p>
    </div>
</body>
</html>